*{
	padding: 0;
	margin: 0;
}
#daoHang .collapse ul{
	margin-top: 3px;
}
#daoHang .navbar-brand{
	margin-top: 10px;
}
#daoHang .navbar-default{
	border: none;
	background-color: #ffffff;
	margin: 0;
}
#daoHang .navbar-brand{
	font-size: 28px;
	color: #0099CC;
	font-weight: bold;
	margin-top: 3px;
}
#daoHangX{
	background: url(./img/home-bg.jpg);
	color: #FFFFFF;
	border: 1px solid #1e232d;
	position: relative;
	z-index: 1;
}
#daoHangXX{
	background-color: rgba(0,0,0,0.8);
	border: 1px solid #1e232d;
}
#daoHangX h1{
	margin: 25px 0;
}
#daoHangX p{
	margin: 10px 0;
}
#daoHangX img{
	margin-top: 20px;
	margin-bottom: 45px;
}
.container .row{
	margin: 110px 0;
}
.container .row .p1{
	font-weight: bold;
	font-size: 25px;
	margin: 10px 0;
}
#boDy{
	background-color: #d3d3d3;
}
#boDy .container .row{
	margin: 10px 0;
}
.col-xs-12{
	margin: 50px 0;
}
.IMG1{
	width: 100%;
}
.IMG3{
	width: 100%;
	background-color: #FFFFFF;
	text-align: center;
}
.IMG2{
	background-color: #FFFFFF;
	margin:20px;
	color: #4dd3b5;
	border: 1px solid #4dd3b5;
	width: 130px;
	height: 40px;
}
.IMG4{
	color: #FFFFFF;
	border: none;
	background-color: #41d2b1;
	width: 120px;
	height: 30px;
}
#fooT{
	width: 100%;
	background: url(./img/contact-bg.png);
	color: #FFFFFF;
}
#fooTz{
	background-color: rgba(0,0,0,0.7);
}
#fooT p{
	margin: 25px 0;
}
.inPut{
	width: 100%;
	height: 45px;
	padding: 10px;
}
.inPut2{
	background-color: #40d1b0;
	border: none;
	width: 70%;
	height: 50px;
}
.shuRuKuang div{
	margin:15px 0;
}
#FOot{
	background-color: #272822;
	height: 50px;
	line-height: 50px;
	font-size: 5px;
	text-align: center;
}